[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=vtfexport
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=VTFExport
Comment=Export image files to Source Engine VTF Format
